body {
    font-family: 'Tahoma', sans-serif;
    color:green;
    margin: 0;
}
.panel {
    width: 0px;
    height: 0px;
    padding: 0;
    background: #f0f0f0;
    float: left;
    overflow: auto;
    transition: all 0.5s cubic-bezier(.42, 0, .39, 1.44);
    word-wrap: normal;
    word-break: keep-all;
    transition-delay: 0.3s;
    
}
.nonebox{
     position:fixed;
     top:-200%;
     left:60%;
     right:35%;
     background:#fff;
     padding:25px;
     border: 5px solid #e4e4e4;
     width: 35%;
     overflow: auto;
     z-index: 1;
}
   
a.box-close{
    float:right; 
	width:26px;
	height:26px;
	background:url('015/close.png');
    cursor:pointer;
}   

.panel-area {
    width: auto;
    height: 0px;
    position: absolute;
    left: 0px;
    transform: translate(0%, -50%);
    top: 0%;
    z-index: 2;
}

.panel-open {
    width: auto;
    background: #f2f2f2;
    position: absolute;
    padding: 10px 10px;
    cursor:pointer;
    top:570px;
}

.panel-open1 {
    width: auto;
    background: #f2f2f2;
    float: right;
    padding: 10px 10px;
    cursor:pointer;
}
.shown {
    width: 240px;
    height: 400px;
    transition: all 0.5s cubic-bezier(.42, 0, .15, 1.47);
    padding: 20px 30px;
    opacity: 1;
}

.text {
    padding-top: 40px;
    opacity: 0;
    transition: all 0.3s ease-in-out; 
}

.text-shown {
    padding-top: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
}