body 
{
	background: #c7b39b url(../images/fon.jpg);
	color: white;
	font-size: 18px;
}

.koloda
{
	position: absolute;
	left:620px;
	top:260px;
}

.card
{
	height: 128px;
	width: 90px;
	border: 1px solid black;
}

.cardMin
{
	height: 90px;
	width: 63px;
}

#setRaise {
	width: 50px;
}

#pot {
	position:absolute ;
	left:520px;
	top:300px;
}

#betHuman {
	position: absolute ;
	left: 55%;
	top:550px;
	font-size: 15px;
}

#betComputer {
	position: absolute ;
	left: 13%;
	top: 80px;
	font-size: 15px;
}

#betComputer2 {
	position: absolute ;
	left: 53%;
	top: 80px;
	font-size: 15px;
}

#Computer
{
	position: absolute ;
	left: 20%;
}

#Human
{
	position: absolute ;
	left: 60%;
	top:490px;
}

#Computer2
{
	position: absolute ;
	left: 60%;
}

#Computer3
{
	position: absolute ;
	left: 20%;
	top: 490px;
}

#valueComputer2
{
	position: absolute ;
	left: 45%;
}

#valueComputer3
{
	position: absolute ;
	top:490px;
}

#bankrollComputer2
{
	position: absolute ;
	top: 140px;
	left: 50%;
}

#bankrollComputer3
{
	position: absolute ;
	left:10%;
	top: 490px;
	
}

#betComputer3 {
	position: absolute ;
	top:550px;
	font-size: 15px;
	left:15%;
}

#distributingCards
{
	display: none;
	position: absolute ;
	left: 40%;
	top:440px;
}

#boardCards
{
	position:absolute ;
	left:710px;
	top:260px;
}

#valueComputer
{
	position: absolute ;
	left: 0%;
}

#valueHuman
{
	position: absolute ;
	left: 50%;
	top: 490px;
}

#panel
{
	display: none;
	position: absolute ;
	left: 40%;
	top:440px;
}

#informationBlock
{
	position: absolute;
	left:150px;
	top:350px;
	width: 400px;
}

#startParty
{
	position: absolute ;
	left: 40%;
	top:440px;
}

#bankrollComputer
{
	position: absolute ;
	top: 140px;
	left: 10%;
}

#bankrollHuman
{
	position: absolute ;
	left: 50%;
	top: 490px;
}

#name
{
  position: absolute ;
  top:450px;
  left:60%;
}

#name1
{
  position: absolute ;
  
  left:10%;
}

#name2
{
  position: absolute ;
 
  left:50%;
}

#name3
{
  position: absolute ;
  top:450px;
  left:20%;
}




	

@media screen and (max-width: 650px) {


.card
{
	height: 100px;
	width: 70px;
	border: 1px solid black;
}

	.koloda
{
	position:absolute ;
	left:200px;
	top:260px;
}

#pot {
	position: absolute ;
	left:30px;
	top:300px;
}

#name
{
  position: absolute ;
  top:460px;
  left:55%;
}

#name1
{
  position: absolute ;
  top: 100px;
  left:10%;
}

#name2
{
  position: absolute ;
 top: 100px;
  left:50%;
}

#name3
{
  position: absolute ;
  top:460px;
  left:10%;
}

#bankrollComputer3
{
	position: absolute ;
	left:30%;
	top: 460px;
	
}


#bankrollHuman
{
	position: absolute ;
	left: 70%;
	top: 460px;
}

	}

@media screen and (max-width: 480px) {


.card
{
	height: 90px;
	width: 60px;
	border: 1px solid black;
}

.koloda
{
	position: absolute ;
	left:100px;
	top:260px;
}

#pot {
	position: absolute ;
	left:10px;
	top:300px;
}

.cardMin
{
	display: none;
}

#name
{
  position: absolute ;
  top:460px;
  left:55%;
  font-size: 15px;
}

#name1
{
  position: absolute ;
  top: 100px;
  left:10%;
   font-size: 15px;
}

#name2
{
  position: absolute ;
 top: 100px;
  left:50%;
   font-size: 15px;
}

#name3
{
  position: absolute ;
  top:460px;
  left:5%;
   font-size: 15px;
}

#bankrollComputer3
{
	position: absolute ;
	left:25%;
	top: 460px;
	 font-size: 15px;
	
}


#bankrollHuman
{
	position: absolute ;
	left: 70%;
	top: 460px;
	 font-size: 15px;
}

#bankrollComputer
{
	position: absolute ;
	top: 130px;
	left: 10%;
	font-size: 15px;
}

#bankrollComputer2
{
	position: absolute ;
	top: 130px;
	left: 50%;
	font-size: 15px;
}



}