body{
	background: #c7b39b url(../images/fon.jpg);
}

header{
min-width: 200px; 
max-width: 4000px; 
height: 50px;
margin: 0 auto;
background-color:#D8D8D8;
}

h1{
	text-align: center;
}


table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
text-align: center;
margin-left: 40px;
}

td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: black;
height: 10px;
width:70px;
background: #D8E6F3;

}

h3{
	text-align: center;
}
#palitra {
margin-top: 50px;
}

#slider {
position: absolute;
}

#colorText {
width: 35px;
height: 40px;
background: white url(../images/color.png) no-repeat top left;
}

#bold{
width: 35px;
height: 40px;
background: white url(../images/bold.png) no-repeat top left;
}

#itl{
width: 25px;
height: 40px;
background: white url(../images/italic.png) no-repeat top left;
}

#strk{
width: 35px;
height: 40px;
background: white url(../images/strike.png) no-repeat top left;
}

#undr
{
width: 35px;
height: 40px;
background: white url(../images/underline.png) no-repeat top left;
}

#save{
margin-left:100px;
width: 35px;
height: 40px;
background: white url(../images/save.png) no-repeat top left;
}

#load1{
position:absolute;
width: 35px;
max-width: 35px;
height: 40px;
opacity:0;
}

#load{
width: 35px;
height: 40px;
background: white url(../images/load.png) no-repeat top left;
}

#prnt{
width: 35px;
height: 40px;
background: white url(../images/print.png) no-repeat top left;
}

.group
{
position: fixed;
left:15%;
top: 100px;
}

.group1
{
 position:fixed;
 left: 50%;
 top:100px;
}

.rblock{
border: 4px double black;
padding: 10px;
width: 400px;
height: 350px;
margin-left: 5%;
margin-top: 100px; 
overflow: auto;
float: left; 
border-radius: 15px;
}

.lblock{
border: 4px double black;
padding: 10px;
margin-top: 100px; 
width: 400px; 
height:350px;
margin-left: 5%;
overflow: auto;
float:left;
background-color: white;
border-radius: 15px;
}

footer{
	clear:both;
	height: 30px;
}

textarea
{
	outline: none;
	resize: none;
	font-size: 20px;
}

#more{
  float:right;
  margin-top: 10px;
  margin-right:5px;
}

#infobox{
    color:white;
    width: 208px;
    height: 100px;
    margin-bottom: 10px;
    font-weight: 100;
}

.info{
   position: absolute;
   margin-top: 50px;
   margin-left: 1100px;
   display: none;
}


#codes{
  float:right;
  margin-top: 10px;
  margin-right:5px;
}

@media screen and (max-width: 1200px){

 .rblock{
	border: 4px double black;
	padding: 10px;
	width: 600px;
	height: 350px;
	margin-left: 20%;
	margin-top: 100px; 
	overflow: auto;
	float: left; 
	border-radius: 15px;
}

.lblock{
	border: 4px double black;
	padding: 10px;
	margin-top: 100px; 
	width: 600px; 
	height:350px;
	margin-left: 20%;
	overflow: auto;
	float:left;
	background-color: white;
	border-radius: 15px;
}

.group1
{
 position:absolute;
 left: 45%;
 top:600px;
}

.group
{
	position: absolute;
	left:45%;
	top: 100px;
}

#more {
	display: none;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
text-align: center;
margin-left: 5px;
}

}

@media screen and (max-width: 900px) {

.rblock{
	border: 4px double black;
	padding: 10px;
	width: 300px;
	height: 200px;
	margin-left: 25%;
	margin-top: 100px; 
	overflow: auto;
	float: left; 
	border-radius: 15px;
}

.lblock{
	border: 4px double black;
	padding: 10px;
	margin-top: 100px; 
	width: 300px; 
	height:200px;
	margin-left: 25%;
	overflow: auto;
	float:left;
	background-color: white;
	border-radius: 15px;
}

.group1
{
 position:absolute;
 left: 43%;
 top:450px;
}

.group
{
	position: absolute;
	left:40%;
	top: 100px;
}

#more {
	display: none;
}
}

@media screen and (max-width: 480px){
  
  .rblock{
	border: 4px double black;
	padding: 10px;
	width: 250px;
	height: 150px;
	margin-left: 10%;
	margin-top: 100px; 
	overflow: auto;
	float: left; 
	border-radius: 15px;
}

.lblock{
	border: 4px double black;
	padding: 10px;
	margin-top: 100px; 
	width: 250px; 
	height:150px;
	margin-left: 10%;
	overflow: auto;
	float:left;
	background-color: white;
	border-radius: 15px;
}

.group1
{
 position:absolute;
 left: 30%;
 top:400px;
}

.group
{
	position: absolute;
	left:28%;
	top: 100px;
}

h1{
	font-size: 20px;
	text-align: center;
}

 #more {
	display: none;
}
}