body {
	color: black;
	font: 100% 'Oswald', Scripts, sans-serif;
	background-color: #f8f8f8;
}

.buttons {
	margin-top: 0px;
}

.buttonInsert {
	vertical-align: middle;
	height: 70px;
	width: 70px;
	border: 2px solid rgb(204, 204, 204);
}

.text {
	margin-top: 4px;
	background-color: white;
	display: inline-block;
	height: 600px;
	width: 600px;
	max-height: 600px;
	max-width: 600px;
	border: 2px solid rgb(204, 204, 204);
	padding: 6px;
	overflow: scroll;
}

