body{
color: black;
font-size: 18px;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
text-align: center;
margin-left: 5px;
}

td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: black;
height: 10px;
width:70px;

}

td {
background: #D8E6F3;
}

