.alf_btn
{
	background-color:#3c61be;
	border:1px solid black;
	text-align:center;
	vertical-align:middle;
	width:30px;
	height:30px;
}

.alf_main
{
    width:750px;
    height:150px;
	border-radius:8px;
	display:none;

}

.top50
{
    left: 350px;
	top: 450px; 
    position: absolute; 
}

.display
{
	top: 350px;
	position: absolute;
	right: 500px;
	width:15px;
    height:15px;
	text-align: center;
}

.red
{
	color: red;
}
.img
{
	display: none;
	position: absolute;
	left: 600px;
	top: 200px;
}
.prav
{
	display:none;
	position: absolute;
	top:150px;
}

.prav1
{
	position: absolute;
	top:0px;
}
.gif
{
	display:none;
	position:absolute;
	left: 600px;
	top: 200px;
}

.img1
{
  position:absolute;
  left:450px;
  top: 40px;
  display:inline;
}

.img2
{
  display:none;
  position:absolute;
  left:450px;
  top: 40px;
}

.img3
{
  display:none;
  position:absolute;
  left:450px;
  top: 40px;
}

#start
{
	position:absolute;
	top:200px;
	left:590px;

}

#numberOfErrors
{
	position:absolute;
	top: 600px;
	color: Blue;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#prav1
{
	display:none;
}
#pressedLetters{
	right: 600px;
	top: 400px;
    position: absolute; 
	color: blue;
	font-size: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
