﻿<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/styles.css"></link>
		<script type="text/javascript" src="js/player.js"></script>
		<script type="text/javascript" src="js/game.js"></script>
		<script type="text/javascript" src="js/table.js"></script>
		<title>Texas Hold 'em</title>
	</head>
	<body>
		<button id="distributingCards">Сдать карты</button>
		<img class="koloda card" src="images/shirt.png" >
		<div id="boardCards"></div>
		<div id="pot">pot: 0</div>

		<i id="informationBlock"></i>
		<div id="panel">
			<button id="equalize">Call</button>
			<input type="text" id="setRaise"><button id="rateIncrease">Raise</button>
			<button id="foldCards">Fold</button>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/subscribe.js"></script>
	</body>
</html>