﻿<!DOCTYPE html>
<html>
  <head>
    <title>Комнаты покера</title>
    <link rel="stylesheet" href="css/styleListRooms.css" type="text/css">
  </head>
  <body>
    <form id="addRoom">
      <input class = "nameRoom" type="text" name="nameRoom" placeholder="Введите имя комнаты">
      <input class = "maxHuman" type="text" name="maxHuman" placeholder="Количество игроков">
      <input class = "add" type="submit" value="Добавить комнату">
    </form>
    <ul id="listRooms">Имя комнаты ◄► Занятых мест/Всего мест
     <% for (var i = 0; i < rooms.length; i++) { %>
        <li><a href="game?id=<%=i%>"><%=rooms[i]._name %> ◄► <%=rooms[i]._numPlayers%>/<%=rooms[i]._maxHuman%></a></li>
        <%}%>
    </ul>
    
    <script>
		addRoom.onsubmit = function() {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/addRoom?nameRoom=' + this.elements.nameRoom.value + '&maxHuman=' + this.elements.maxHuman.value, true);
			
			xhr.onload = function() {
                window.location = "/game?id=" + +this.responseText;
            }
			
			xhr.send();

			this.elements.nameRoom.value = '';
			this.elements.maxHuman.value = '';
			
			return false;
		}

        function subscribe() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/subscribe?listRooms=true', true);

            xhr.onreadystatechange = function() {
                if (this.readyState != 4) return;
                if (this.status != 200) {
                    setTimeout(subscribe, 100);
                    return;
                }

                var info = JSON.parse(this.responseText);

                if (info.eventName == 'addRoom') {
                    var li = document.createElement('li');
                    var nameRoom = info.nameRoom ? info.nameRoom : 'No name';
                    var maxHuman = info.maxHuman ? info.maxHuman : 2;

                    li.innerHTML = '<a href="game?id=' + info.roomId + '">' + nameRoom +
                            '  || 0/' + maxHuman + '</a>';

                    listRooms.appendChild(li);
                }
                else if (info.eventName == 'addPlayer') {
                    var roomId = info.roomId;
                    var room = listRooms.children[roomId].innerHTML;
                    var index = room.indexOf('/') - 1;

                    listRooms.children[roomId].innerHTML = room.slice(0, index) + (+room[index] + 1) + room.slice(index + 1);
                    //listRooms.children[roomId].innerHTML = room;

                }

                subscribe();
            }

            xhr.send();
        }

        subscribe();
	</script>
  </body>
</html>