body 
{
	background: #c7b39b url(../images/fon.jpg);
	color: white;
	font-size: 18px;
}

.koloda
{
	position:absolute;
	left:620px;
	top:260px;
}

.card
{
	height: 128px;
	width: 90px;
	border: 1px solid black;
}

.cardMin
{
	height: 90px;
	width: 63px;
}

#setRaise {
	width: 50px;
}

#pot {
	position:absolute;
	left:520px;
	top:300px;
}

#betPlayer {
	position: absolute;
	left: 30%;
	top:460px;
}

#betPlayer2 {
	position: absolute;
	left: 20%;
	top: 150px;
}

#betPlayer3 {
	position: absolute;
	left: 60%;
	top: 150px;
}

#Player2
{
	position: absolute;
	left: 20%;
}

#Player
{
	position: absolute;
	left: 30%;
	top:490px;
}

#Player3
{
	position: absolute;
	left: 60%;
}

#valuePlayer3
{
	position: absolute;
	left: 45%;
}
#bankrollPlayer3
{
	position: absolute;
	top: 140px;
	left: 90%;
}

#distributingCards
{
	display: none;
	position: absolute;
	left: 40%;
	top:440px;
}

#boardCards
{
	position:absolute;
	left:710px;
	top:260px;
}

#valuePlayer2
{
	position: absolute;
	left: 0%;
}

#valuePlayer
{
	position: absolute;
	left: 10%;
	top: 490px;
}

#panel
{
	display: none;
	position: absolute;
	left: 40%;
	top:440px;
}

#informationBlock
{
	position: absolute;
	left:150px;
	top:350px;
	width: 400px;
}

#startParty
{
	position: absolute;
	left: 40%;
	top:440px;
}

#bankrollPlayer2
{
	position: absolute;
	top: 140px;
	left: 5%;
}

#bankrollPlayer
{
	position: absolute;
	left: 90%;
	top: 470px;
}