body
{
	background: #c7b39b url(./images/open.jpg);
	color: white;
	font-size: 18px;
}

.nameRoom
{
	position: absolute;
	top: 300px;
	left: 55%;
	color: green;
}

.maxHuman
{
	position: absolute;
	top:300px;
	left:70%;
}

.add
{
	color: red;
	font-size: 20px;
    position: absolute;
    top:350px;
    left:63%;

}

#listRooms
{
   position: absolute;
   top:100px;
   font-family: 'Monotype Corsiva';
   font-size: 20px;
}
