body 
{
	background: #c7b39b url(../images/fon.jpg);
	color: white;
	font-size: 18px;
}

h3

{
 color: black;
 font-weight: 600;

}

.cont {
	position: relative;
    width: 100%;
    height: 100%;
}

.cont .header {

    border: 1px solid #666666;
    position: relative;
    height: 50px;
    width: 100%;
}
.big-link
{

position: absolute;
top: 650%;
left: 30%;
font-size: 25x;
color: red;
}
.cheap
{
 position: absolute;
 left: 5%;
 top: 160%;
}

.cheap1
{
 position: absolute;
 left: 55%;
 top: 160%;
}

.cheap2
{
 position: absolute;
 left: 30%;
 top: 1010%;
}

.vol
{
   height: auto;
	width: auto;
}
.koloda
{
	position:absolute;
	left:43%;
	top:545%;
}

.card
{
	height: 128px;
	width: 90px;
	border: 1px solid black;
}

.cardMin 
{
	height: 90px;
	width: 63px;
}

#resetCard
{
	position:absolute;
	left:53%;
	top:545%;
}

#Computer1
{
	position: absolute;
	left: 15%;
	height: 50%;
	top: 150%;
}

#Human
{
	position: absolute;
	left: 41%;
	top:1000%;
}

#Computer2
{
	position: absolute;
	left: 65%;
	height: 50%;
	top: 150%
}

#valueComputer2
{
	position: absolute;
	left: 75%;
	top: 400%
}
#bankComputer2
{
	position: absolute;
	left: 58%;
	top: 105px;
	font-size: 35px;
}

#distributingCards
{
	display: none;
	position: absolute;
	left: 45%;
	top:440px;
}



#valueComputer1
{
	position: absolute;
	left: 25%;
	top: 400%;
}

#valueHuman
{
	position: absolute;
	left: 50%;
	top: 475px;
	color: black;
}

#panel
{
	display: none;
	position: absolute;
	left: 41%;
	top:440px;
}

#informationBlock
{
	position: absolute;
	left:50%;
	top:600%;
	width: 400px;
	color: black;
}

#startParty
{
	display: none;
	position: absolute;
	left: 45%;
	top:440px;
}

#bankComputer1
{
	position: absolute;
	top: 105px;
	
	font-size: 35px;
	left: 8%;
}

#bankHuman
{
	position: absolute;
	left: 33%;
	top: 1060%;
	font-size: 35px;
}

@media screen and (max-width: 980px) {

	#Human
	{
		position: absolute;
		left: 33%;
		top:1000%;
	}

	#Computer1
	{
		position: absolute;
		left: 10%;
		top:150%;
		
	}

	#Computer2
	{
		position: absolute;
		left: 55%;
		top:150%;
	}

	#startParty
	{
		display: none;
		position: absolute;
		left: 45%;
		top:440px;
	}

	.card
	{
		height: 110px;
		width: 80px;
		border: 1px solid black;
	}

	.koloda
	{
		position: absolute;
		left:35%;
		top:550%;
	}

	#resetCard
	{
		position:absolute;
		left:50%;
		top:550%;
	}

	#panel
	{
		display: none;
		position: absolute;
		left: 32%;
		top:440px;
	}

	.vol
	{
	   height: 80px;
		width: 80px;
	}

	.cheap
	{
	 position: absolute;
	 left: 5%;
	 top: 380%;
	}

	.cheap1
	{
	 position: absolute;
	 left: 75%;
	 top: 380%;
	}

	.cheap2
	{
	 position: absolute;
	 left: 20%;
	 top: 1010%;
	}

	#bankComputer2
	{
		position: absolute;
		left: 78%;
		top: 420%;
		font-size: 35px;
	}

	#bankComputer1
	{
		position: absolute;
		top: 420%;
		font-size: 35px;
		left: 8%;
	}

	#bankHuman
	{
		position: absolute;
		left: 23%;
		top: 1047%;
		font-size: 35px;
	}

	#informationBlock
	{
		position: absolute;
		left:50%;
		top:700%;
		width: 400px;
		font-size: 15px;
	}

	#valueComputer1
	{
		position: absolute;
		left: 25%;
		top: 360%;
	}

	#valueHuman
	{
		position: absolute;
		left: 44%;
		top: 1210%;
	}

	#valueComputer2
	{
		position: absolute;
		left: 58%;
		top: 360%;
	}

	.big-link
	{

	position: absolute;
	top: 650%;
	left: 15%;
	font-size: 25x;
	color: red;
	}
}

@media screen and (max-width: 650px) {

	 #Human
	{
		position: absolute;
		left: 33%;
		top:1000%;
	}

	#Computer1
	{
		position: absolute;
		left: 5%;
		top:150%;
		
	}

	#Computer2
	{
		position: absolute;
		left: 50%;
		top:150%;
	}

	.card
	{
		height: 100px;
		width: 70px;
		border: 1px solid black;
	}

	#panel
	{
		display: none;
		position: absolute;
		left: 28%;
		top:440px;
	}

	.koloda
	{
		position: absolute;
		left:33%;
		top:550%;
	}

	#resetCard
	{
		position:absolute;
		left:48%;
		top:550%;
	}



	.vol
	{
	   height: 80px;
		width: 80px;
	}

	.cheap
	{
	 position: absolute;
	 left: 5%;
	 top: 380%;
	}

	.cheap1
	{
	 position: absolute;
	 left: 75%;
	 top: 380%;
	}

	.cheap2
	{
	 position: absolute;
	 left: 15%;
	 top: 1010%;
	}

	#bankComputer2
	{
		position: absolute;
		left: 81%;
		top: 420%;
		font-size: 35px;
	}

	#bankComputer1
	{
		position: absolute;
		top: 420%;
		font-size: 35px;
		left: 11%;
	}

	#bankHuman
	{
		position: absolute;
		left: 21%;
		top: 1047%;
		font-size: 35px;
	}

	#informationBlock
	{
		position: absolute;
		left:60%;
		top:710%;
		width: 400px;
	}

	#valueComputer1
	{
		position: absolute;
		left: 20%;
		top: 340%;
	}

	#valueHuman
	{
		position: absolute;
		left: 44%;
		top: 1205%;
	}

	#valueComputer2
	{
		position: absolute;
		left: 50%;
		top: 340%;
	}
}

@media screen and (max-width: 480px) {

	 #Human
	{
		position: absolute;
		left: 30%;
		top:1000%;
	}

	#Computer1
	{
		position: absolute;
		left: 30%;
		top:150%;
		
	}

	#Computer2
	{
		position: absolute;
		left: 30%;
		top:400%;
	}

	.koloda
	{
		position: absolute;
		left:35%;
		top:650%;
	}

	.card
	{
		height: 90px;
		width: 60px;
		border: 1px solid black;
	}

	#resetCard
	{
		position:absolute;
		left:55%;
		top:650%;
	}

	#panel
	{
		display: none;
		position: absolute;
		left: 20%;
		top:440px;
	}

	.vol
	{
	   height: 80px;
		width: 80px;
	}

	.cheap
	{
	 position: absolute;
	 left: 5%;
	 top: 160%;
	}

	.cheap1
	{
	 position: absolute;
	 left: 5%;
	 top: 400%;
	}

	.cheap2
	{
	 position: absolute;
	 left: 5%;
	 top: 1010%;
	}

	#bankComputer2
	{
		position: absolute;
		left: 14%;
		top: 430%;
		font-size: 35px;
	}

	#bankComputer1
	{
		position: absolute;
		top: 98px;
		font-size: 35px;
		left: 14%;
	}

	#bankHuman
	{
		position: absolute;
		left: 14%;
		top: 1047%;
		font-size: 35px;
	}

	#informationBlock
	{
		position: absolute;
		left:75%;
		top:825%;
		width: 400px;
	}

	#valueComputer1
	{
		position: absolute;
		left: 40%;
		top: 340%;
	}

	#valueHuman
	{
		position: absolute;
		left: 40%;
		top: 1205%;
	}

	#valueComputer2
	{
		position: absolute;
		left: 40%;
		top: 590%;
	}

	.big-link
	{

	position: absolute;
	top: 700%;
	left: 10%;
	font-size: 25x;
	color: red;
	}

}